<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Inicio</title>
</head>
<body>
  <h1>¡Bienvenido al sistema contable!</h1>
  <ul>
    <li><a href="/cuentas">Operaciones con cuentas</a></li>
    <li><a href="/clientes">Operaciones con clientes</a></li>
    <li><a href="/facturas">Operaciones con facturas</a></li>
    <li><a href="/proveedores">Agregar Proveedor</a></li>
    <li><a href="/productos">Operaciones con productos</a></li>
  </ul>
</body>
</html>
